<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2"><a href="#" class="logo">Cár<span>mara</span></a></h2>
              <p>Empresa lider en nuestro sector. ¿A qué esperas para alquilar tu coche con nosotros?</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Información</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Acerca de</a></li>
                <li><a href="#" class="py-2 d-block">Servicios</a></li>
                <li><a href="#" class="py-2 d-block">Contacto</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Marcas con las que trabajamos</h2>
              <ul class="list-unstyled">
                <li><a href="https://www.bmw.es/es/home.html" class="py-2 d-block">BMW</a></li>
                <li><a href="https://www.seat.es/" class="py-2 d-block">SEAT</a></li>
                <li><a href="https://www.renault.es/" class="py-2 d-block">RENAULT</a></li>
                <li><a href="https://www.audi.es/es/web/es.html" class="py-2 d-block">AUDI</a></li>
                <li><a href="https://www.volvocars.com/es" class="py-2 d-block">VOLVO</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Contacto</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Jaén, Avenidad de Madrid Nº 90</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+34 657 32 24 23</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">carmara@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
      <script src="{{ asset('estilos/js/jquery.min.js') }}"></script> 
    <script src="{{ asset('estilos/js/jquery-migrate-3.0.1.min.js') }}"></script>
    <script src="{{ asset('estilos/js/popper.min.js') }}"></script> 
    <script src="{{ asset('estilos/js/bootstrap.min.js') }}"></script>  
    <script src="{{ asset('estilos/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('estilos/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('estilos/js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('estilos/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('estilos/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('estilos/js/aos.js') }}"></script>
    <script src="{{ asset('estilos/js/jquery.animateNumber.min.js') }}"></script>
    <script src="{{ asset('estilos/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('estilos/js/jquery.timepicker.min.js') }}"></script>
    <script src="{{ asset('estilos/js/scrollax.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="{{ asset('estilos/js/google-map.js') }}"></script>
    <script src="{{ asset('estilos/js/main.js') }}"></script>
    </footer>

    