<head>
    <meta charset="utf-8">
    <title>Cármara</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block stylesheet%}
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link href="{{ asset('estilos/css/open-iconic-bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('estilos/css/animate.css') }}" type="text/css" rel="stylesheet" />
    
    <link href="{{ asset('estilos/css/owl.carousel.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('estilos/css/owl.theme.default.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('estilos/css/magnific-popup.css') }}" type="text/css" rel="stylesheet" />


    <link href="{{ asset('estilos/css/ionicons.min.css') }}" type="text/css" rel="stylesheet" />

    <link href="{{ asset('estilos/css/bootstrap-datepicker.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('estilos/css/jquery.timepicker.css') }}" type="text/css" rel="stylesheet" />

    <link href="{{ asset('estilos/css/flaticon.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('estilos/css/icomoon.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('estilos/css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock%}
  </head>